/* ------------- Photo Gallery -------------- */


#fp_body-gallery div {
	-moz-box-sizing: border-box;
	-webkit-box-sizing: border-box;
	box-sizing: border-box;
}
#fp_body-gallery #footer {
	background-image: none;
	text-align: center;
	padding: 30px;
}
#fp_body-gallery {
	display: block;
	width: 100%;
	height: 100%;
	position: fixed;
	background-color:#000;
}
#fp_body-gallery.captive {
	height: auto;
	position: relative;
}
#fp_background {
	position: absolute;
	left: 0px;
	top: 0px;
	width: 100%;
}
#fp_gallery {
	background-repeat: no-repeat;
	background-position: center top;
	display: block;
	height: 100%;
	overflow: hidden;
	min-height: 600px;
}
.captive #fp_gallery {
	min-height: 560px;
	height: auto;
}
span.reference{
	font-family:Arial;
	position:fixed;
	right:10px;
	top:10px;
	font-size:15px;
}
span.reference a{
	color:#fff;
	text-transform:uppercase;
	text-decoration:none;
}
.fp_loading{
	display:none;
	position:fixed;
	top:50%;
	left:50%;
	margin:-35px 0px 0px -35px;
	background:#fff url(../darkroom/icons/loader.gif) no-repeat center center;
	width:70px;
	height:70px;
	z-index:999;
	opacity:0.7;
	-moz-border-radius:10px;
	-webkit-border-radius:10px;
	border-radius:10px;
}
.fp_next, .fp_prev{
	cursor:pointer;
	top:50%;
	margin-top:-16px;
	width:32px;
	height:32px;
	position:fixed;
	text-align:center;
	border:1px solid #111;
	color:#fff;
	-moz-box-shadow:0px 0px 3px #000;
	-webkit-box-shadow:0px 0px 3px #000;
	box-shadow:0px 0px 3px #000;
}
.fp_next{
	right:-40px;
	background:#222 url(../darkroom/icons/next.png) no-repeat center center;
}
.fp_prev{
	left:-40px;
	background:#222 url(../darkroom/icons/prev.png) no-repeat center center;
}
#fp_thumbContainer{
	margin-right: 50px;
	margin-left: 50px;
	position: relative;
	margin-top: 167px;/*Adjust this to match your pin with the line*/
}
#fp_thumbContainer .album{
	position:absolute;
	width:25%;
	height:300px;
	top: 0px;
	overflow: visible!important;
}
.album .descr {
	background: #C76;
	text-align: center;
	border: 1px solid #300;
	cursor: pointer;
	color: #300;
	-moz-box-shadow: 1px 1px 4px #300;
	-webkit-box-shadow: 1px 1px 4px #300;
	box-shadow: 1px 1px 4px #300;
	white-space: nowrap;
	margin-left: auto;
	padding: 5px 10px;
	margin-right: auto;
	display: inline;
	border-radius: 4px;
	font-weight: bold;
	font-size: 14px;
}
.fp_back{
	background:#222;
	text-align:center;
	border:1px solid #111;
	cursor:pointer;
	color:#fff;
	text-shadow:0px 0px 1px #fff;
	display: block;
	padding: 5px;
	float: right;
}
#fp_thumbContainer .content{
	position:absolute;
	height:50px;
	cursor:pointer;
}
#fp_thumbContainer .content.selected {
	z-index: 60;
}
.moving .thumb-frame,
.selected.moving .thumb-frame {
	-moz-box-shadow: none;
	-webkit-box-shadow: none;
	box-shadow: none;
	background-color: #900;
}
.moving .thumb-frame img {
	z-index: auto;
	opacity: .45;
}
.selected.moving .thumb-frame {
	z-index: auto;
	opacity: 1;
}
.thumb-frame {
	background-color: transparent;
	border: 5px solid #D48A88;
	-moz-box-shadow: 1px 1px 7px #400, inset 0 0 60px 5px #810;
	-webkit-box-shadow: 1px 1px 7px #400, inset 0 0 60px 5px #810;
	box-shadow: 1px 1px 7px #400, inset 0 0 60px 5px #810;
	position: absolute;
	top: 0px;
	right: 0px;
}
.vertical .thumb-frame {
	left : 0px;
	right: auto;
}
.selected .thumb-frame {
	background-color: transparent;
	border-color: #EDEADC;
	-moz-box-shadow: 1px 5px 7px 4px #400;
	-webkit-box-shadow: 1px 5px 7px 4px #400;
	box-shadow: 1px 5px 7px 4px #400;
}
.selected div.thumb-frame img {
	opacity: 1;
	z-index: auto;
}

.thumb-frame img {
	position: relative;
	z-index: -1;
}
#fp_thumbContainer p.fb_thumbtitle{
	display:none;
}
.fp_preview{
	position:absolute;
	top:150%;
	left:40%;
  z-index: 100;
}
.fp_preview img{
	position:absolute;
	top:0px;
	left:0px;
	border:10px solid #EDEADC;
	border-bottom:45px solid #EDEADC;
	-moz-box-shadow:1px 1px 7px #000;
	-webkit-box-shadow:1px 1px 7px #000;
	box-shadow:1px 1px 7px #000;
}
.fp_descr{
	height:45px;
	line-height:45px;
	font-size:15px;
	width:100%;
	bottom:0px;
	left:0px;
	position:absolute;
	text-align:center;
	color:#00021c;
}
.fp_descr p {
	height:45px;
	line-height:45px;
	margin: 0 10px;
}
.fp_close {
}

/* --------------- PHOTOBOOK TO DELETE --------------*/
#fotobook-main a {
  font-weight: bold;
  font-size: 12px;
}

#fotobook-main {
  font-size: 11px;
  width: 100%;
  border-spacing: 0;
}

#fotobook-main img {
  border: 0;
}

#fotobook-main small {
  font-size: 10px;
}

#fotobook-main td, #fotobook-main th {
  border-bottom: solid 1px #D8DFEA;
  margin: 0px; padding: 10px;
  vertical-align: middle;
}

#fotobook-main th {
  text-align: center;
  width: 130px;
}

#fotobook-photo {
  padding-top: 10px;
  padding-bottom: 10px;
}

#fotobook-photo img {
  border: 0;
}

#fotobook-album {
  margin: 0px;
  padding: 5px;
  width: 100%;
  border-bottom: solid 1px #D8DFEA;
}

#fotobook-album td {
  width: 150px;
  padding: 3px 2px;
  text-align: center;
  vertical-align: middle;
}

#fotobook-album img {
  background: white;
  padding: 6px;
  border: solid 1px #ccc;
}
  
#fotobook-info {
  font-size: 10px;
  margin-top: 10px;
  text-align: left;
}

#fotobook-info th, #fotobook-info td {
  padding: 3px;
}

#fotobook-info th {
  font-weight: bold;
  vertical-align: top;
}

.fotobook-subheader {
  text-align: right;
  font-size: 11px;
  margin: 0px;
  padding: 3px 10px 4px;
  border-bottom: solid 1px #D8DFEA;
}

.fotobook-subheader .main {
  float: left;
  text-align: left;
}

.fotobook-subheader .pagination {
  padding-left: 4px;
  text-align: right; 
}

.fotobook-subheader .pagination b {
  padding: 2px;
  font-style: normal;
  font-weight: bold;
  color: #3B5998;
  border-bottom: solid 2px;
}

.fotobook-subheader .pagination a {
  font-weight: normal;
  margin: 0px;
  padding: 3px 3px; 
}

.fotobook-subheader .pagination a:hover {
  color: white;
  margin: 0px;
  padding: 3px 3px;
  background: #3B5998; 
  text-decoration: none;
}

.fotobook-subheader-bottom {
  border-bottom: 0;
}

.fotobook-subheader-bottom .pagination b {
  border-bottom: 0;
  border-top: solid 2px;
}
.fp_photo-caption {
	display: none;
}
.fp_close_x {
	display: block;
	position: absolute;
	top: 10px;
	right: 10px;
	background-color: #2D2D2D;
	-moz-box-shadow:0px 0px 6px 1px #FFF;
	-webkit-box-shadow:0px 0px 6px 1px #FFF;
	box-shadow:0px 0px 6px 1px #FFF;
	-moz-border-radius:3px;
	-webkit-border-radius:3px;
	border-radius:3px;
	cursor:pointer;
	width:24px;
	height:24px;
	text-align:center;
	color:#fff;
	background-image: url(../darkroom/icons/close.png);
	background-repeat: no-repeat;
	background-position: center center;
}

#drying-line{
	position: absolute;
	width: 100%;
	top: 190px;
	height: 10px;
	background-image: url(../darkroom/_img/drying-line.png);
	background-position: right top;
	background-repeat: repeat-x;
}
/*#line-left{
	background-image: url(../darkroom/_img/drying-line.png);
	background-position: 30px top;
	background-repeat: no-repeat;
	height: 50px;
	margin-right: 600px;
	position: relative;
	overflow: visible;
}
#line-right  {
	background-image: url(../darkroom/_img/drying-line.png);
	background-position: right top;
	background-repeat: no-repeat;
	width: 570px;
	position: absolute;
	top: 0px;
	right: -570px;
	height: 50px;
	float: right;
	display: block;
}*/
#fp_photo-description {
	width: 35%;
	padding-bottom: 30px;
	position: absolute;
	right: 30px;
	height: 200px;
	top: 25px;
	color: #FFF;
}
.fb_gallery_expanded #fp_photo-description {
padding-left: 220px;
}
#fp_thumbContainer {
	overflow: visible;
}
.sub-content {
	position: relative;
	width: 30px;
	height: 30px;
	top: -15px;
	-webkit-transform: rotate(-53deg); 
}
.vertical.sub-content {
	-webkit-transform: rotate(37deg); 
}
.decr_cont {
	position: absolute;
	left: 50%;
}
.pre-content {
	position: relative;
	left: 50%;
}
.sub-album {
	position: relative;
	display: block;
	margin: 0 60px;
}
.descr_cont {
	text-align: center;
	display: block;
	width: 100%;
	margin-top: 220px;
	position: relative;
}

.album:hover .descr_cont p,
.descr_cont:hover p,
.descr_cont p:hover,
p.descr:hover {
	background-color: #FFF;
}
#back_cont {
	width: 50%;
	padding-right: 180px;
	text-align: right;
	position: absolute;
	left: 0px;
	top: -250px;
}
#fp_thumbContainer div.pin {
	background-image: url(_img/pin1.png);
	background-repeat: no-repeat;
	background-position: left top;
	display: block;
	position: absolute;
	z-index: 3;
	height: 50px;
	width: 50px;
}
#fp_thumbContainer .rand-2 div.pin {
	background-image: url(_img/pin2.png);
}
#fp_thumbContainer .rand-3 div.pin {
	background-image: url(_img/pin3.png);
}
#fp_thumbContainer .album.aside div.pin,
#fp_thumbContainer .content.aside div.pin {
	display: none;
}
#fp_thumbContainer .content.vertical div.pin {
}
#fp_thumbContainer .content.vertical {
}

#fp_photo-description h3 {
	color: #FFF;
	margin-top: 0px;
	font-size: 24px;
	margin-right: 10px;
	margin-bottom: 5px;
	text-shadow: -1px -2px 1px #379;
	filter: dropshadow(color=#379, offx=-1, offy=--2);
	text-shadow: -1px -2px 1px #379;
	font-weight: normal;
}
#fp_report-content {
	font-size: 14px;
	padding-right: 90px;
}
#fp_report-content p:first-child {
	display: inline;
}
#expand_gallery,
#collapse_gallery {
	cursor: pointer;
	color: #C53;
	font-size: 12px;
	line-height: 18px;
	float: right;
}
.captive #expand_gallery,
#collapse_gallery {
	display: block;
}
.captive #collapse_gallery,
#expand_gallery {
	display: none;
}
.captive #fp_gallery #drying-line {
	top: 80px;
}
.captive #fp_thumbContainer {
	margin-top: 60px;
	margin-left: 0px;
	margin-right: 0px;
}
.captive #fp_photo-description {
	text-align: center;
	width: 100%;
	right: 10px;
	top: 10px;
}
#fb_albums_icon {
	background-image: url(_img/albums_icon.png);
	background-repeat: no-repeat;
	background-position: -99px top;
	display: block;
	height: 84px;
	width: 95px;
	text-indent: -5000px;
	z-index: 9999;
	color: #000;
	font-size: 12px;
	line-height: 18px;
	position: absolute;
	top: 30px;
	left: 30px;
}
.captive #fb_albums_icon,
#fp_photo-description #fb_albums_icon {
	background-position: -236px top;
	width: 34px;
	height: 29px;
	top: 10px;
	left: 10px;
}
#fp_photo-description #fb_albums_icon {
	background-position: -236px top;
	width: 34px;
	height: 29px;
	float: right;
	clear: right;
	position: static;
	margin-left: 10px;
	margin-top: 10px;
}
#fb_albums_icon:hover {
	background-position: left top;
}
#fp_photo-description #fb_albums_icon:hover {
	background-position: -199px top;
}
#fp_body-gallery #linklove {
	position: absolute;
	right: 0px;
	bottom: 0px;
}
.fb_hidden {
	display: none!important;
}
body.fb_darkroom {
	
}
a#logo_home {
    position: absolute;
    margin: 30px;
}
.captive a#logo_home {
    margin: 5px;
}
.captive a#logo_home img {
    height: 55px;
}
